/*  
    Stylings Created by Adrian De Guzman 7/08/20
    TODO:
    -developed in mobile first approach +flexbox
    *note that img.placeholder-clothes::
        width is set to 375px for mobile, but it should be width 100%.
        for now because i have no images, it is set to 375px
        
        so for clothes it should be 
        374/2 = 187 px each
        or 372/2 = 186 px forextra space design wise
*/

/*Placeholder(s)*/

.img {
  width: auto;
  height: auto;
}

img.placeholder-title {
  margin-top: 2.2rem;
  width: 4.7rem;
  height: 4.7rem;
}

img.placeholder-clothes {
  margin-top: 2.5rem;
  width: 100%;
  height: auto;
}

img.placeholder-clothing-piece {
  width: 42vw;
  height: auto;
}

/*Global Layout Styling*/

#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffffec;
}

header {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  font-size: .70rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------ */

/*Mobile Only Stylings*/

.mobile {
  display: block;
}

.mobile-title {
  display: flex;
  font-size: 1.70rem;
}

.dir-name {
  display: flex;
  align-self: flex-end;
  font-size: .80rem;
  padding-bottom: 2.4rem;
  padding-left: 1.5rem;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-title {
  width: 90vw;
  display: inline-block;
  background: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.h1-title {
  width: 90vw;
  display: inline-block;
  background: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*SIDE - bar*/

#nav-id {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(131, 86, 99);
  transition: 0.5s;
  padding-top: 4rem;
  position: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#nav-id a {
  color: rgb(255, 249, 238);
  font-size: 18pt;
  padding-top: 5%;
  padding-bottom: 6%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-close {
  top: 0;
  right: 5%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  font-size: 1.5rem;
}

/*Article Popup*/
.article-item-pop{
  z-index: 1;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  background-color: rgb(230, 231, 231);
  transition: 0.5s;
  padding-top: 5%;
  padding-bottom: 6%;
  position: fixed;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.active-popup{
  display: inline-block;
  height: 75%;
  opacity: 1;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.active-popup-down-arrow{
  margin: auto;
  margin-top: 0;
}
.active-popup-item-info{
  background-color: rgb(220, 221, 221);
  border-radius: 10px;
  max-width: 90%;
  margin: auto;
  padding: 4% 2% 4% 2%;
}
.add-to-cart{
  border: none;
  z-index: 1;
  right: 0;
  padding: 4%;
  margin: 4%;
  margin-top: 2%;
  border-radius: .40rem;
  display: flex;
  height: auto;
  width: auto;
  position: fixed;
  color: white;
  background-color: rgb(54, 54, 54);
}

/*SHOPnav - bar*/

#shop-nav {
  z-index: 1;
  height: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  background-color: rgb(99, 127, 153);
  transition: 0.5s;
  padding-top: 5%;
  padding-bottom: 6%;
  position: absolute;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#shop-nav a {
  padding: .7rem;
  padding-top: -1.5rem;
  margin: auto;
  color: rgb(255, 249, 238);
  font-size: 18pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-right: 1.5rem;
}

.close-shop {
  display: flex;
  bottom: 0;
  position: absolute;
  align-items: center;
}

#shop-button-id {
  transition: transform 0.8s;
}

.active-shop-button {
  transform: rotate(180deg);
}

.unactive-shop-button {
  transition: transform 0.8s;
  transform: rotate(180deg);
}

#current-clothing-article {
  color: rgb(255, 221, 126);
  font-weight: bold;
}

/*Article of Clothings*/

section.clothing-articles {
  display: inline-block;
  text-align: center;
}

section.clothing-articles figure {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: .05rem;
  padding: .02rem;
  margin-top: 0;
  padding-top: 0;
}

section.clothing-articles figcaption {
  
  font-size: .80rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .50rem;
  
}

/*Checkout nav button*/

.checkout-follower {
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-radius: .40rem;
  margin: .50rem;
  display: flex;
  height: auto;
  width: auto;
  position: fixed;
  color: white;
  background-color: rgb(31, 31, 31);
}

/*faq.html*/

.faq-sect {
  width: 90vw;
  position: relative;
  margin: auto;
}

.faq-list li {
  width: 90vw;
  position: relative;
  margin: auto;
  margin-left: -2rem;
  content: "\2022";
  list-style: none;
  font-weight: bold;
  display: inline-block;
  align-self: center;
}

.faq-q {
  background: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-bottom: -.5rem;
}

.faq-a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  font-size: 10pt;
  padding: auto;
  margin-bottom: 2rem;
}

/*lookbook.html styling */
.lookbook-list{
  list-style: none; 
  align-self: center; 
  margin-left: -2.35rem;
}

.slideshow-section {
  width: 90vw;
  position: relative;
  margin: auto;
}

.prev-slide-ind, .next-slide-ind {
  top: 41%;
  padding: .5rem;
  margin-top: -.25rem;
  position: absolute;
  color: rgb(26, 26, 26);
  font-weight: bold;
  font-size: 2rem;
  opacity: .2;
  transition: .8s ease;
}

.next-slide-ind {
  right: 0;
}
.prev-slide-ind {
  left: 0;
}

.lookbook-cap {
  padding: .5rem;
  margin-top: -.5rem;
  font-size: .9rem;
  color: #181818;
  text-align: center;
}

.current-slide-indicator {
  color: #1d1d1d;
  font-size: .8rem;
  margin-bottom: -2rem;
}

/* fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}

/*contact page styling*/

#contact-page-id {
  width: 90vw;
  text-align: center;
}

.form-container {
  margin: auto;
  width: 85vw;
  background-color: rgb(245, 244, 243);
  border-radius: 4px;
}

.form-container label {
  display: inline-block;
  padding: .5rem;
  padding-top: 1rem;
}

.form-container input[type=text], select, textarea {
  align-items: center;
  width: 50%;
  padding: 12px;
  font-size: 10pt;
  border: 1px solid rgb(216, 216, 216);
  border-radius: .3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;
}

.form-container input[type=submit] {
  font-size: 9pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1rem;
  margin-top: 1.5rem;
  background-color: #5a5a5a;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: .3rem;
}

.mailto {
  display: inline-block;
  font-size: 8pt;
  margin-top: 1rem;
}

/* index css */
#main-index{
  width: 90vw;
}
.default-sect{
  width: 85vw;
  display: inline-block;
}
.default-sect p{
  text-align: center; 
  font-size: 10pt;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 85vw;
  background-color: rgb(245, 244, 243);
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/*HIDING desktop components*/

.desktop-header {
  display: none;
}

.desktop {
  display: none;
}

/* ------------------------------------------------------------------------------------ */

/*Tablet Stylings*/

@media only screen and (min-width: 481px) {}

/* ------------------------------------------------------------------------------------ */

/*Desktop Stylings*/

@media only screen and (min-width:769px) {
  .desktop {
    display: block;
  }
  #main-container {
    flex-direction: column;
  }
  main {
    margin-top: 2rem;
    width: 50%;
  }
  .desktop-header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  .desktop-title {
    display: flex;
    align-items: baseline;
  }
  .dir-name {
    align-self: auto;
    font-size: .94rem;
  }
  nav {
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(141, 36, 59);
    transition: 0.5s;
    padding-top: 4rem;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  nav a {
    font-size: 1.5rem;
    padding: .7rem;
    color: rgb(255, 249, 238);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  nav a:hover {
    cursor: pointer;
    color: black;
    background-color: teal;
  }
  .nav-button:hover {
    cursor: pointer;
  }
  footer {
    margin-top: 4rem;
  }
  /*faq page*/
  .faq-list li {
    margin-left: -2rem;
    content: "\2022";
    list-style: none;
    font-weight: normal;
    display: inline-block;
    align-self: center;
    width: 40%;
  }
  .faq-q {
    background: rgb(63, 63, 63);
    color: rgb(255, 255, 255);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 2rem;
    margin-left: 2rem;
    text-align: left;
  }
  .faq-a {
    color: rgb(0, 0, 0);
    margin-bottom: 5rem;
    text-align: left;
  }
  /*lookbook.html*/
  .prev-slide-ind:hover, .next-slide-ind:hover {
    background-color: rgb(0, 0, 0);
  }
  /*hide mobile items*/
  .mobile {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}